<ion-content>
  <app-page-header
    i18n-title="@@change-password.chnagePassowrd"
    title="Change Password"
  ></app-page-header>
  <div class="member-profile">
    <app-avatar
      [editable]="false"
      [(ngModel)]="pageObject.imageUrl"
    ></app-avatar>
    <div>
      <app-input
        label="current password"
        i18n-label="@@change-password.currentPassword"
        [(ngModel)]="pageObject.data.currentPassword"
        type="password"
        placeholder="*******"
      ></app-input>
      <app-input
        label="New password"
        i18n-label="@@change-password.newPassword"
        [(ngModel)]="pageObject.data.password"
        type="password"
        placeholder="*******"
      ></app-input>
      <app-input
        label="Repeat password"
        i18n-label="@@change-password.repeatPassword"
        [(ngModel)]="pageObject.repeatPassword"
        type="password"
        placeholder="*******"
      ></app-input>
    </div>
  </div>
</ion-content>
<app-footer-controls
  (onConfirm)="save()"
  [showCancel]="false"
  [showDelete]="false"
  okText="Save"
  i18n-okText="@@global.save"
></app-footer-controls>
