<ion-content [fullscreen]="true">
  <app-page-header
    i18n-title="@@gallery.gallery"
    title="Gallery"
  ></app-page-header>
  <app-tabs>
    <app-tab i18n-legend="@@gallery.photos" legend="Photos">
      <app-image-viewer
        class="image-list"
        [images]="pageObject.data.gallery.images"
      >
      </app-image-viewer>
    </app-tab>
    <app-tab i18n-legend="@@gallery.videos" legend="Videos"> </app-tab>
  </app-tabs>
</ion-content>
<app-fab
  [onlyDisplayFor]="[roles.Owner]"
  [items]="pageObject.controls"
></app-fab>
