<ion-item lines="none" class="ion-item" class="input-item">
    <ion-label position="stacked" *ngIf="showLabel">
      {{ label }}
    </ion-label>
    <div class="input-content">
      <ion-input
        [(ngModel)]="value"
        [type]="type"
        [autocapitalize]="autocapitalize"
        [clearInput]="clearInput"
        [inputmode]="inputmode"
        [max]="max"
        [maxlength]="maxlength"
        [min]="min"
        [minlength]="minlength"
        [placeholder]="placeholder"
        [readonly]="readonly"
        [required]="required"
      ></ion-input>
      <div *ngIf="suffix" class="input-suffix">{{suffix}}</div>
    </div>
</ion-item>
