<ion-item lines="none">
  <div class="input-item dropdown">
    <ion-label position="stacked">{{ label }}</ion-label>
    <ion-list class="input-content">
        <ion-select
          [(ngModel)]="inputValue"
          [placeholder]="placeholder"
          [cancelText]="cancelText"
          [okText]="okText"
          [disabled]="disabled"
          [interface]="interface"
          [interfaceOptions]="interfaceOptions"
          [multiple]="multiple"
          (ionChange)="handleValueChange()"
        >
          <ion-select-option
            *ngFor="let item of options"
            [value]="item.value"
            >{{ item.label }}</ion-select-option
          >
        </ion-select>
    </ion-list>
  </div>
</ion-item>

<!-- <ion-item lines="none" class="ion-item" class="input-item dropdown">
  <ion-label position="stacked" *ngIf="showLabel">
    {{ label }}
  </ion-label>
  <div class="input-content">
    <ion-select
          [(ngModel)]="inputValue"
          [placeholder]="placeholder"
          [cancelText]="cancelText"
          [okText]="okText"
          [disabled]="disabled"
          [interface]="interface"
          [interfaceOptions]="interfaceOptions"
          [multiple]="multiple"
          (ionChange)="handleValueChange()"
        >
          <ion-select-option
            *ngFor="let item of options"
            [value]="item.value"
            >{{ item.label }}</ion-select-option
          >
        </ion-select>
  </div>
</ion-item> -->
