<div *ngIf="paid && byCart" class="payment-status-card payment-successfull">
  <ion-icon class="payment-icon" name="wallet"></ion-icon>
  <div class="payment-details">
    <span class="payment-status" i18n="@@payment-status-card.paymentSuccessful"
      >Payment successful</span
    >
    <span class="payment-method" i18n="@@payment-status-card.paidByCart"
      >Paid by cart</span
    >
  </div>
  <ion-icon class="payment-icon" name="checkmark-circle"></ion-icon>
</div>

<div *ngIf="!paid && byCart" class="payment-status-card payment-failed">
  <ion-icon class="payment-icon" name="wallet"></ion-icon>
  <div class="payment-details">
    <span class="payment-status" i18n="@@payment-status-card.paymentFailed"
      >Payment failed</span
    >
    <span class="payment-method" i18n="@@payment-status-card.paidByCart"
      >Paid by cart</span
    >
  </div>
  <ion-icon class="payment-icon" name="close-circle"></ion-icon>
</div>

<div *ngIf="!byCart" class="payment-status-card payment-unknown">
  <ion-icon class="payment-icon" name="wallet"></ion-icon>
  <div class="payment-details">
    <span class="payment-method" i18n="@@payment-status-card.paidByCash"
      >Paid by cash</span
    >
  </div>
</div>
